    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }
    /* header contact */
    
    #header {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        left: 0;
        box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    }
    
    .header__contact {
        height: var(--header-contact-height);
        width: 100%;
        max-width: 100%;
        background: #1c1c1c;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__contact-list {
        display: flex;
        list-style: none;
        padding-left: 20px;
    }
    
    .header__contact-link {
        font-size: 1.3rem;
        color: var(--white-color);
        margin-right: 18px;
        display: inline-flex;
        align-items: center;
        padding: 15px 0;
        cursor: pointer;
        text-decoration: none;
    }
    
    .header__contact-link:hover .header__contact-name {
        color: var(--primary-color);
    }
    
    .header__contact-icon {
        font-size: 1.4rem;
        color: var(--primary-color);
        margin-right: 8px;
    }
    /* header user */
    
    .header__user {
        display: flex;
        align-items: center;
    }
    
    .user__social {
        margin-right: 32px;
    }
    
    .user__social-link {
        display: inline-block;
        padding: 0 8px;
    }
    
    .user__social-link:hover {
        color: var(--primary-color);
    }
    
    .user__language {
        background: #3abdc1;
        line-height: 4.6rem;
        font-weight: 600;
        width: 140px;
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    
    .user__language-icon {
        margin-left: 4px;
        position: relative;
        top: 1px;
    }
    
    .user__language:hover .user__language-list {
        height: 300%;
    }
    
    .user__language-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--primary-color);
        list-style: none;
        text-align: left;
        z-index: 1;
        height: 0;
        overflow: hidden;
        transition: height ease-in-out 0.2s;
    }
    
    .user__language-item {
        padding-left: 36px;
        line-height: 3.8rem;
    }
    
    .user__language-item:first-child {
        padding-top: 12px;
    }
    
    .user__language-item:last-child {
        padding-bottom: 12px;
    }
    
    .user__language-item-link {
        text-decoration: none;
        color: var(--white-color);
        display: inline-block;
        line-height: 1.3rem;
        position: relative;
    }
    
    .user__language-item-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 2px;
        background: var(--white-color);
        transition: width linear 0.3s;
    }
    
    .user__language-item-link:hover::after {
        width: 100%;
    }
    
    .header__user-item {
        list-style: none;
        color: var(--white-color);
        font-size: 1.3rem;
    }
    
    .header__user-item:last-child {
        padding: 0;
    }
    
    .header__user-link {
        text-decoration: none;
        color: var(--white-color);
        font-size: 1.3rem;
    }
    
    .user__custom-link {
        display: inline-block;
        padding: 15px 17px;
        background: var(--primary-color);
    }
    /* header navbar */
    
    .navbar {
        height: var(--navbar-height);
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--white-color);
    }
    
    .navbar__logo-link {
        display: block;
    }
    
    .navbar__logo-img {
        width: 150px;
        display: block;
    }
    /* navbar menu */
    
    .navbar__menu {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navbar__menu-list {
        list-style: none;
        height: 100%;
        display: flex;
    }
    
    .navbar__menu-item {
        height: 100%;
        text-align: center;
        line-height: 80px;
        position: relative;
    }
    
    .navbar__menu-link {
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--text-color);
        padding: 0 37px;
    }
    
    .navbar__menu-name {
        position: relative;
    }
    
    .navbar__menu-name:hover {
        color: var(--primary-color);
    }
    
    .navbar__menu-name:hover::after {
        width: 100%;
    }
    
    .navbar__menu-name::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 0;
        background: var(--primary-color);
        transition: width linear 0.3s;
    }
    
    .navbar__menu-item:first-child .navbar__menu-link {
        color: var(--primary-color);
    }
    /* menu drop */
    
    .navbar__menu-item:hover .navbar__menu-drop {
        display: block;
        transform-origin: 15% top;
    }
    
    .navbar__menu-drop {
        position: absolute;
        left: 0;
        top: 100%;
        list-style: none;
        background: var(--white-color);
        width: 250px;
        padding: 24px 0;
        text-align: left;
        height: auto;
        display: none;
        box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
        animation: dropDown linear 0.3s;
        z-index: 1;
    }
    
    .navbar__menu-drop-item {
        padding: 10px 0 10px 32px;
        cursor: pointer;
        position: relative;
        line-height: 1.7rem;
    }
    
    .navbar__menu-drop-link {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.45rem;
        line-height: 1.45rem;
        font-weight: 500;
        display: inline-block;
        position: relative;
    }
    /* menu drop child */
    
    .navbar__menu-drop-item:hover .navbar__menu-drop-icon {
        color: var(--primary-color);
    }
    
    .navbar__menu-drop-icon {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--text-color);
        font-size: 1.1rem;
    }
    
    .navbar__menu-drop-item:hover .menu-drop__list-child {
        display: block;
        transform-origin: left 28%;
    }
    
    .menu-drop__list-child {
        position: absolute;
        list-style: none;
        width: 100%;
        height: auto;
        background: var(--white-color);
        right: -100%;
        top: -64%;
        padding: 24px 0;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
        display: none;
        animation: dropDown ease-in-out 0.35s;
    }
    
    .menu-drop__item-child {
        padding: 10px 0 10px 32px;
        cursor: pointer;
    }
    
    .menu-drop__item-child:hover .menu-drop__name-child {
        color: var(--primary-color);
    }
    
    .menu-drop__item-child:hover .menu-drop__name-child::after {
        width: 100%;
    }
    
    .menu-drop__name-child {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.45rem;
        font-weight: 500;
        display: inline-block;
        position: relative;
    }
    
    .menu-drop__name-child::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 0;
        background: var(--primary-color);
        transition: width linear 0.3s;
    }
    
    .navbar__menu-drop-item:hover .navbar__menu-drop-link {
        color: var(--primary-color);
    }
    
    .navbar__menu-drop-item:hover .navbar__menu-drop-link::after {
        width: 100%;
    }
    
    .navbar__menu-drop-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 2px;
        width: 0;
        background: var(--primary-color);
        transition: width linear 0.3s;
    }
    /* drop full */
    
    .navbar__menu-item-drop--full {
        overflow: hidden;
        height: 100%;
        line-height: 80px;
        text-align: center;
    }
    
    .navbar__menu-item-drop--full:hover .navbar__menu-drop--full {
        display: flex;
        transform-origin: 68% top;
    }
    
    .navbar__menu-drop--full {
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background: var(--white-color);
        display: flex;
        justify-content: center;
        height: auto;
        padding: 42px 0 12px 0;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
        animation: dropDown linear 0.3s;
        display: none;
        z-index: 1;
    }
    
    .navbar__menu-drop-list--full {
        flex-basis: 19%;
        list-style: none;
        padding-right: 30px;
        text-align: left;
    }
    
    .navbar__menu-drop-item--full {
        padding: 10px 0 10px 32px;
        cursor: pointer;
        line-height: 1.7rem;
    }
    
    .navbar__menu-drop-item--full:hover .navbar__menu-drop-link {
        color: var(--primary-color);
    }
    
    .navbar__menu-drop-item--full:hover .navbar__menu-drop-link::after {
        width: 100%;
    }
    
    .navbar__menu-drop-item--full:first-child .navbar__menu-drop-link {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--primary-color);
    }
    /* navbar option */
    
    .navbar__option {
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .navbar__option-item {
        list-style: none;
        margin-right: 20px;
        cursor: pointer;
    }
    
    .navbar__option-item:hover .navbar__option-link {
        color: var(--primary-color);
    }
    
    .navbar__option-link {
        text-decoration: none;
        color: var(--text-color);
        font-size: 2.5rem;
    }
    
    .navbar__option-cart {
        position: relative;
    }
    
    .navbar__option-cart:hover .cart-item--no-product {
        height: 80px;
    }
    
    .cart-item--no-product {
        position: absolute;
        right: 0;
        height: 0;
        width: 200px;
        background: var(--white-color);
        text-align: center;
        cursor: default;
        transition: height ease-in-out 0.2s;
        overflow: hidden;
        z-index: 1;
    }
    
    .cart-item--no-product::before {
        content: "";
        position: absolute;
        right: 0;
        top: -15px;
        width: 80px;
        height: 30px;
    }
    
    .cart-item--no-product span {
        color: var(--text-color);
        font-size: 1.4rem;
        padding-top: 30px;
        display: block;
    }
    
    .navbar__option-search {
        transform: rotate(90deg);
        margin: 0 28px 0 0;
    }
    
    .navbar__option-search-link {
        cursor: pointer;
    }
    
    #navbar__option-search-main {
        display: none;
    }
    /* sidebar menu */
    
    .navbar__option-menu-link {
        cursor: pointer;
    }
    
    #navbar__option-sidebar {
        display: none;
    }
    
    .navbar__option-sidebar-input:checked~.navbar__sidebar-wrap {
        transform: translateX(0);
        opacity: 1;
    }
    
    .navbar__sidebar-wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 550px;
        background: var(--white-color);
        cursor: default;
        overflow-y: auto;
        transform: translateX(100%);
        opacity: 0;
        box-shadow: -6px 0 12px rgba(0, 0, 0, .1);
        transition: transform linear 0.3s, opacity linear 0.2s;
    }
    
    .navbar__sidebar--toggle:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
    
    .navbar__sidebar--toggle {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        font-size: 4rem;
        transition: .4s;
    }
    
    .navbar__option-sidebar-input:checked~.navbar__sidebar--overlay {
        display: block;
    }
    
    .navbar__sidebar--overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        display: none;
    }
    
    .navbar__sidebar {
        padding: 100px 50px 40px 50px;
    }
    
    .navbar__sidebar-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .navbar__sidebar-logo--setsail {
        margin-bottom: 18px;
        width: 40%;
        display: inline-block;
    }
    
    .navbar__sidebar-title {
        width: 80%;
    }
    
    .navbar__sidebar-map {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 46px;
    }
    
    .navbar__sidebar-map-link {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        margin-bottom: 50px;
    }
    
    .navbar__sidebar-map-img {
        display: block;
        width: 100%;
        filter: drop-shadow( 6px 12px 15px rgba(0, 0, 0, 0.1));
    }
    
    .navbar__sidebar-map-title {
        font-size: 1.4rem;
        color: #505050;
        width: 340px;
        text-align: center;
        line-height: 2.4rem;
    }
    
    .navbar__sidebar-search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar__sidebar-search-heading {
        font-size: 1.8rem;
        color: var(--text-color);
        font-weight: 600;
        margin-bottom: 26px;
    }
    
    .navbar__sidebar-search-input {
        display: flex;
        align-items: center;
    }
    
    .navbar__sidebar-search-input input {
        border: none;
        outline: none;
        background: #f8f8f8;
        padding: 16px 22px 16px 12px;
    }
    
    .navbar__sidebar-search-btn:hover {
        cursor: pointer;
        background: #3abdc1;
    }
    
    .navbar__sidebar-search-btn {
        padding: 0 20px;
        border: none;
        outline: none;
        background: var(--primary-color);
        color: var(--white-color);
        transition: .3s;
    }
    
    .navbar__sidebar-search-btn i {
        font-size: 1.4rem;
        line-height: 5.2rem;
    }
    
    .navbar__sidebar-social {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar__sidebar-social-heading {
        margin: 46px 0 26px;
        font-size: 1.8rem;
        color: var(--text-color);
        font-weight: 600;
    }
    
    .navbar__sidebar-social-icon:hover {
        background: #3abdc1;
    }
    
    .navbar__sidebar-social-icon {
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--white-color);
        padding: 16px;
        margin: 0 4px;
        background: var(--primary-color);
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        transition: .3s;
    }
    /* ==== CONTENT ====== */
    /* content slider */
    
    #content {
        margin-top: var(--header-height);
    }
    
    .content__slider-wrap-text {
        position: relative;
        overflow: hidden;
        max-height: 760px;
    }
    
    .content__slider-wrap-img {
        width: 100%;
        display: block;
        background-position: bottom 23% center;
        background-size: cover;
        background-repeat: no-repeat;
        animation: scaleImg linear 13s infinite alternate;
    }
    
    .content__slider-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        user-select: none;
    }
    
    .content__slider-text-heading {
        font-family: 'Satisfy', cursive;
        color: var(--white-color);
        font-size: 4.8rem;
        padding-bottom: 5px;
        font-weight: 400;
        line-height: 5.8rem;
    }
    
    .content__slider-text-title {
        font-size: 12rem;
        font-weight: 600;
        line-height: 8.6rem;
        color: #ffffff;
        letter-spacing: -5px;
    }
    
    .content__slider-text-description {
        display: inline-block;
        width: 36%;
        font-size: 2rem;
        color: var(--white-color);
        text-align: center;
        line-height: 2.6rem;
        padding-top: 36px;
    }
    /* slider search */
    
    .content__slider-search {
        height: 80px;
        transform: translateY(-50%);
    }
    
    .content__slider-search-grid {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
        height: 100%;
    }
    
    .slider-search__item {
        flex-basis: calc((100% - 16.53846%) / 3);
        background: var(--white-color);
        padding: 22px 0 22px 28px;
        display: flex;
        align-items: baseline;
        position: relative;
    }
    
    .slider-search__item label {
        width: 100%;
    }
    
    .slider-search__item-icon,
    .slider-search__item-name {
        font-size: 1.4rem;
        color: #848484;
    }
    
    .slider-search__item-name {
        margin-left: 13px;
        line-height: 3.6rem;
        flex: 1;
        border: none;
        outline: none;
    }
    
    .slider-search__item-name:focus~.slider-search__option-list {
        display: block;
        overflow-y: scroll;
    }
    
    .slider-search__option-list {
        list-style: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 240%;
        background: var(--white-color);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
        display: none;
    }
    
    .slider-search__option-item:first-child {
        margin-top: 16px;
        color: var(--primary-color);
    }
    
    .slider-search__option-item:first-child .slider-search__option-name {
        color: var(--primary-color);
    }
    
    .slider-search__option-item:last-child {
        margin-bottom: 16px;
    }
    
    .slider-search__option-name:hover {
        color: var(--primary-color);
    }
    
    .slider-search__option-name {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 500;
        color: #848484;
        display: block;
        padding: 9px 0 9px 27px;
    }
    
    .slider-search__date {
        border-left: 1px solid #cccccc3b;
        border-right: 1px solid #cccccc3b;
    }
    
    .slider-search__btn:hover {
        background: #11acb1;
    }
    
    .slider-search__btn {
        flex-basis: 16.53846%;
        background: var(--primary-color);
        border: none;
        outline: none;
        color: var(--white-color);
        font-weight: 600;
        font-size: 1.3rem;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.2s;
    }
    /* content section 1 */
    
    .content__section1 {
        margin-top: 77px;
    }
    
    .section1__body {
        margin-top: 66px;
    }
    
    .section1__body-location {
        margin-bottom: 30px;
    }
    
    .section1__body-location-item {
        flex-basis: 25%;
        padding: 0 15px;
        list-style: none;
    }
    
    .section1__body-location-link:hover .section1__body-location-img {
        transform: scale(1.03);
    }
    
    .section1__body-location-link:hover::after {
        opacity: 1;
    }
    
    .section1__body-location-link {
        display: block;
        width: 100%;
        position: relative;
        text-decoration: none;
        overflow: hidden;
    }
    
    .section1__body-location-link::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0.7;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, .67) 99%, rgba(0, 0, 0, .6) 100%);
        transition: all 0.4s linear;
    }
    
    .section1__body-location-img {
        width: 100%;
        display: block;
        background-position: center;
        transition: all 0.4s linear;
    }
    
    .section1__body-location-link-main {
        border-radius: 50%;
        overflow: hidden;
    }
    
    .section1__body-location-link-main::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 1;
        background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .1) 31%, rgba(0, 0, 0, 0) 58%);
    }
    
    .section1__body-location-main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Satisfy', sans-serif;
        color: var(--white-color);
        font-size: 4.8rem;
        text-shadow: 10px 10px 45px rgba(0, 0, 0, 1);
        z-index: 1;
    }
    
    .section1__body-location-description {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        color: var(--white-color);
        z-index: 1;
    }
    
    .section1__body-location-name {
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: -1px;
        text-shadow: 10px 10px 45px rgba(0, 0, 0, 1);
        margin-bottom: 5px;
    }
    
    .section1__body-location-rating,
    .section1__body-location-score,
    .section1__body-location-rank {
        font-size: 1.45rem;
        font-weight: 500;
        letter-spacing: -1px;
        text-shadow: 10px 10px 45px rgba(0, 0, 0, 1);
        margin-right: 3px;
    }
    
    .section1__body-location-rating {
        margin-right: 8px;
    }
    
    .section1__body-location-price {
        align-items: flex-end;
        display: flex;
        font-size: 1.8rem;
        font-weight: 600;
    }
    
    .section1__footer {
        text-align: center;
        padding-top: 24px;
    }
    /* content section 2 */
    
    .content__section2 {
        margin-top: 322px;
        margin-bottom: 506px;
        background: url('../images/background-section2.jpg') fixed center/ cover no-repeat;
    }
    
    .content__section2-wrap {
        position: relative;
    }
    
    .section2__header {
        padding-top: 70px;
    }
    
    .section2__header-heading,
    .section2__header-title,
    .section2__header-description {
        color: var(--white-color);
    }
    
    .section2__video {
        text-align: center;
        transform: translateY(8%);
    }
    
    .section2__video-img {
        display: block;
        margin: 0 auto;
    }
    
    .section2__body {
        position: absolute;
        transform: translateY(200px);
        width: 100%;
    }
    
    .section2__body-list {
        list-style: none;
    }
    
    .section2__body-item {
        flex-basis: calc(100% / 4);
        padding: 0 15px;
        text-align: center;
    }
    
    .section2__body-item-img:hover {
        transform: translateY(-5px);
    }
    
    .section2__body-item-img {
        transition: transform linear 0.25s;
    }
    
    .section2__body-item-name {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-color);
        padding-top: 27px;
    }
    
    .section2__body-item-description {
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: #505050;
        font-weight: 400;
        width: 70%;
        display: inline-block;
        margin-top: 11px;
    }
    /* content section 3 */
    
    .section3__header {
        padding: 95px 0 66px 0;
    }
    
    .content__section3 {
        background: #f8f8f8;
    }
    
    .section3__body-location-list {
        padding-bottom: 166px;
    }
    
    .section3-body__location {
        flex-basis: 20%;
        margin: 0 10px;
        list-style: none;
        flex: 1;
        background: var(--white-color);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    
    .section3-body__location:first-child {
        margin-left: 0;
    }
    
    .section3-body__location:last-child {
        margin-right: 0;
    }
    
    .section3-body__location-link-img {
        display: block;
        width: 100%;
        overflow: hidden;
    }
    
    .section3-body__location-img:hover {
        transform: scale(1.03);
    }
    
    .section3-body__location-img {
        display: block;
        width: 100%;
        transition: transform linear 0.3s;
    }
    
    .section3-body__location-info-ticket {
        background: var(--primary-color);
        padding: 0 25px;
    }
    
    .section3-body__location-info-ticket-link {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 4.2rem;
        height: 42px;
        margin-right: 14px;
        color: var(--white-color);
        display: inline-block;
    }
    
    .section3-body__location-info-ticket-link i {
        margin-right: 6px;
    }
    
    .section3-body__location-ticket-destination>span {
        position: relative;
    }
    
    .section3-body__location-info-ticket-link:hover span::after {
        width: 100%;
    }
    
    .section3-body__location-ticket-destination>span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 3px;
        background: var(--white-color);
        transition: width linear 0.3s;
    }
    
    .section3-body__location-introduce {
        padding: 36px 25px;
        box-shadow: 3px 8px 17px rgba(0, 0, 0, .08);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    
    .section3__body-location-name:hover {
        color: var(--primary-color);
    }
    
    .section3__body-location-name {
        font-size: 2.2rem;
        color: var(--text-color);
        font-weight: 600;
        letter-spacing: -1px;
        padding-bottom: 20px;
        display: block;
        text-decoration: none;
    }
    
    .section3__body-location-describe {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #505050;
        padding-bottom: 17px;
    }
    
    .section3__body-location-price,
    .section3__body-location-rating,
    .section3__body-location-score,
    .section3__body-location-rank {
        font-size: 1.4rem;
        color: var(--text-color);
        font-weight: 600;
    }
    
    .section3__body-location-price {
        margin-right: 17px;
    }
    
    .section3__body-location-score,
    .section3__body-location-rating {
        margin-right: 6px;
    }
    /* content section 3 - comment */
    
    .section3__comment {
        background: var(--white-color);
        padding: 110px 0 55px 0;
    }
    
    .section3__comment-list {
        list-style: none;
        text-align: center;
        position: relative;
    }
    
    .section3__comment-slide-left:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
    
    .section3__comment-slide-left {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 3.4rem;
        padding: 14px;
    }
    
    .section3__comment-slide-right:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
    
    .section3__comment-slide-right {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 3.4rem;
        padding: 14px;
    }
    
    .section3__comment-content {
        font-size: 2rem;
        color: #505050;
        line-height: 2.8rem;
        width: 74%;
        margin: 26px auto;
    }
    
    .section3__comment-signature {
        font-family: 'Satisfy', cursive;
        font-size: 2.4rem;
        color: var(--text-color);
    }
    /* content section 4 */
    
    .content__section4 {
        padding-bottom: 125px;
        background: url('../images/background.jpg') top/ cover no-repeat;
    }
    
    .section4__header {
        padding: 192px 0 62px;
    }
    
    .section4__body-list {
        list-style: none;
    }
    
    .section4__body-item {
        flex-basis: 33.33%;
        padding: 0 15px;
        flex: 1;
    }
    
    .section4__body-item:first-child {
        margin-left: -15px;
    }
    
    .section4__body-item:last-child {
        margin-right: -15px;
    }
    
    .section4__body-link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    
    .section4__body-link:hover::after {
        opacity: 1;
    }
    
    .section4__body-link::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0.7;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, .67) 99%, rgba(0, 0, 0, .6) 100%);
        transition: all 0.4s linear;
    }
    
    .section4__body-link:hover .section4__body-location-img {
        transform: scale(1.03);
    }
    
    .section4__body-location-img {
        display: block;
        width: 100%;
        transition: all 0.4s linear;
    }
    
    .section4__body-location-description {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: var(--white-color);
        font-size: 2.2rem;
        font-weight: 600;
        z-index: 1;
        letter-spacing: -1px;
        padding: 36px;
    }
    
    .section4__body-location-price {
        font-size: 1.8rem;
        margin-top: 16px;
        display: block;
    }
    
    .section4__body-location-add {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 1.5rem;
        letter-spacing: -1px;
        font-weight: 500;
        line-height: 4.4rem;
        padding: 0 28px;
    }
    /* content section 5 */
    
    .content__section5 {
        padding-bottom: 70px;
    }
    
    .content__section5-observation {
        margin-bottom: 170px;
        padding: 105px 0 125px;
        background: url('../images/background1.jpg') center/ cover no-repeat;
    }
    
    .section5__header {
        padding-bottom: 68px;
    }
    
    .section5__header-heading,
    .section5__header-title,
    .section5__header-description {
        color: var(--white-color);
    }
    
    .section5__comment-item {
        flex-basis: 33.33%;
        margin: 0 20px;
        background: var(--white-color);
        border-radius: 5px;
        flex: 1;
        display: flex;
        padding: 40px 70px 22px;
    }
    
    .section5__comment-item:first-child {
        margin-left: 0;
    }
    
    .section5__comment-item:last-child {
        margin-right: 0;
    }
    
    .section5__comment-user-img {
        height: 75%;
        display: block;
        margin-right: 24px;
    }
    
    .section5__comment-user-info {
        flex: 1;
    }
    
    .section5__comment-title:hover {
        color: var(--primary-color);
    }
    
    .section5__comment-title {
        display: block;
        text-decoration: none;
        color: var(--text-color);
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: -1px;
        padding: 8px 0 15px;
    }
    
    .section5__comment-user-rating {
        color: var(--primary-color);
        font-size: 1.3rem;
        display: block;
        padding-bottom: 18px;
    }
    
    .section5__comment-content {
        font-size: 1.4rem;
        color: #505050;
        display: block;
        padding-bottom: 18px;
    }
    
    .section5__comment-user-name {
        font-size: 1.4rem;
        color: var(--text-color);
        font-weight: 600;
    }
    /* section 5 blog */
    
    .section5-body__our-blog {
        width: 68.23077%;
        padding-right: 140px;
    }
    
    .section5-body__blog-intro-title {
        font-size: 4rem;
        color: var(--text-color);
        font-weight: 600;
        line-height: 5.15rem;
        letter-spacing: -2px;
    }
    
    .section5-body__blog-intro-desc {
        font-size: 1.7rem;
        color: #505050;
        margin: 12px 0 62px;
        line-height: 2.5rem;
    }
    
    .section5-body__blog-item {
        display: flex;
        margin-bottom: 40px;
    }
    
    .section5-body__blog-item:last-child {
        margin-bottom: 0;
    }
    
    .section5-body__blog-img:hover img {
        transform: scale(1.03);
    }
    
    .section5-body__blog-img {
        display: block;
        overflow: hidden;
    }
    
    .section5-body__blog-img img {
        display: block;
        width: 136px;
        transition: transform linear 0.3s;
    }
    
    .section5-body__blog-content {
        padding-left: 25px;
        flex: 1;
    }
    
    .section5-body__blog-name:hover {
        color: var(--primary-color);
    }
    
    .section5-body__blog-name {
        font-size: 2.2rem;
        font-weight: 600;
        color: var(--text-color);
        letter-spacing: -1px;
        text-decoration: none;
        display: inline-block;
        margin-top: 4px;
    }
    
    .section5-body__blog-excerpt {
        margin: 15px 0 19px;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: #505050;
    }
    
    .section5-body__blog-published:hover,
    .section5-body__blog-cmt:hover {
        color: var(--primary-color);
    }
    
    .section5-body__blog-published,
    .section5-body__blog-cmt {
        font-size: 1.4rem;
        color: var(--text-color);
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        margin-right: 20px;
    }
    
    .section5-body__blog-cmt i {
        margin-right: 6px;
    }
    
    .section5-body__sale-off {
        width: 31.76923%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 0 15px;
        overflow: hidden;
    }
    
    .section5-body__sale-off-img {
        display: block;
        width: 100%;
    }
    
    .section5-body__sale-off-desc {
        position: absolute;
        top: 13%;
        right: -60px;
        left: -60px;
        background: var(--primary-color);
        text-align: center;
        padding: 40px 30px;
        transform: rotate(-15deg);
        animation: swing linear 6s infinite alternate;
    }
    
    .section5-body__sale-off-desc span {
        font-family: 'Satisfy', sans-serif;
        color: var(--text-color);
        font-size: 3rem;
        line-height: 3rem;
        display: block;
    }
    
    .section5-body__sale-off-desc p {
        color: var(--white-color);
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 600;
        letter-spacing: -2px;
        display: block;
        margin-top: 3px;
    }
    /* content section 6 */
    
    .content__section6 {
        padding: 220px 0 130px;
        background: url('../images/background2.jpg') top center/ cover no-repeat;
    }
    
    .section6__header {
        padding-bottom: 62px;
    }
    
    .section6__body-item {
        flex: 1;
        list-style: none;
        padding: 0 30px;
    }
    
    .section6__body-item-link {
        position: relative;
        display: block;
        border-radius: 50%;
    }
    
    .section6__body-item-link::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }
    
    .section6__body-item-img-wrap {
        border-radius: 50%;
        overflow: hidden;
    }
    
    .section6__body-item-link:hover .section6__body-item-img {
        transform: scale(1.03);
    }
    
    .section6__body-item-img {
        display: block;
        width: 100%;
        transition: transform linear 0.3s;
    }
    
    .section6__body-item-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Satisfy', sans-serif;
        font-size: 4.6rem;
        color: var(--white-color);
        z-index: 1;
    }
    
    .section6__body-item-like {
        position: absolute;
        top: 31px;
        right: 33px;
        display: flex;
        padding: 16px;
        background: var(--primary-color);
        z-index: 1;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .section6__body-item-like-icon {
        font-size: 1.4rem;
        color: var(--white-color);
    }
    /* content section 7 */
    
    .content__section7 {
        padding-top: 86px;
    }
    
    .section7__body {
        width: 90%;
        margin: 0 auto;
        padding: 85px 12px 200px;
    }
    
    .section7__slider-list {
        align-items: center;
        list-style: none;
    }
    
    .section7__slider-item {
        flex: 1;
        text-align: center;
    }
    
    .section7__slider-item-link {
        position: relative;
        display: inline-block;
        border-image: url('../images/border-img.png') 17 round;
        border-width: 14px;
        border-style: solid;
        filter: drop-shadow(3px 6px 10px rgba(0, 0, 0, 0.1));
    }
    
    .section7__slider-item-img {
        display: block;
    }
    
    .section7__slider-item-link:hover .section7__slider-item-desc {
        clip-path: circle(160px at center);
        opacity: 1;
    }
    
    .section7__slider-item-desc {
        position: absolute;
        right: -55px;
        bottom: -104px;
        width: 150px;
        height: 150px;
        background: var(--white-color);
        border-radius: 50%;
        box-shadow: 0 0 30px rgba(0, 0, 0, .1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        opacity: 0;
        clip-path: circle(20px at center);
        transition: clip-path ease-out 0.8s, opacity .5s;
    }
    
    .section7__slider-location-name {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--text-color);
    }
    
    .section7__slider-location-excerpt {
        font-size: 1.3rem;
        color: #505050;
        margin: 10px auto;
        line-height: 2rem;
    }
    
    .section7__slider-control-left {
        display: inline-block;
        padding: 8px;
        cursor: pointer;
    }
    
    .section7__slider-control-left:hover .section7__slider-control-left-icon {
        color: var(--primary-color);
    }
    
    .section7__slider-control-left-icon {
        color: var(--text-color);
        font-size: 3.5rem;
    }
    
    .section7__slider-control-right {
        display: inline-block;
        padding: 8px;
        cursor: pointer;
    }
    
    .section7__slider-control-right:hover .section7__slider-control-right-icon {
        color: var(--primary-color);
    }
    
    .section7__slider-control-right-icon {
        color: var(--text-color);
        font-size: 3.5rem;
    }
    /* join now */
    
    .section7__join-now {
        background: var(--primary-color);
        padding: 40px 0;
    }
    
    .section7__join-now-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .section7__join-now-title {
        font-size: 2.2rem;
        color: var(--white-color);
        font-weight: 600;
        letter-spacing: -1px;
        height: 100%;
        user-select: none;
    }
    
    .section7__join-now-btn:hover {
        background: #23a9af;
        color: var(--white-color);
    }
    
    .section7__join-now-btn {
        background: var(--white-color);
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--text-color);
        border: none;
        outline: none;
        padding: 18px 66px;
        cursor: pointer;
        transition: .3s;
    }
    /* ===== FOOTER ======= */
    
    #footer {
        background: var(--text-color);
    }
    
    .footer__main {
        padding: 106px 100px 78px;
    }
    
    .footer-item {
        flex: 1;
        padding: 0 15px;
    }
    
    .footer__contact-logo {
        display: inline-block;
    }
    
    .footer__contact-excerpt {
        margin: 20px 0 17px;
        font-size: 1.7rem;
        color: var(--footer-color);
        line-height: 2.6rem;
    }
    
    .footer__contact-link:hover {
        color: var(--primary-color);
    }
    
    .footer__contact-link {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: var(--white-color);
        padding: 8px 0;
        text-decoration: none;
    }
    
    .footer__contact-link i {
        margin-right: 15px;
    }
    
    .footer__heading {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 26px;
        color: var(--white-color);
    }
    
    .footer__recent-post-item {
        margin-bottom: 30px;
    }
    
    .footer__recent-post-name>a:hover,
    .footer__recent-post-published>a:hover {
        color: var(--primary-color);
    }
    
    .footer__recent-post-name a {
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--footer-color);
        margin-bottom: 11px;
        display: inline-block;
    }
    
    .footer__recent-post-published a {
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--white-color);
        font-weight: 500;
        display: inline-block;
    }
    
    .footer__subscribe-excerpt {
        margin-bottom: 25px;
        font-size: 1.4rem;
        color: var(--footer-color);
    }
    
    .footer__subscribe-logup-item {
        background: #595959;
        color: var(--white-color);
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        padding-left: 20px;
    }
    
    .footer__subscribe-logup-item input {
        background: transparent;
        border: none;
        outline: none;
        color: var(--white-color);
        width: 100%;
        padding: 12px 16px 12px 15px;
    }
    
    .footer__subscribe-logup-item input::placeholder {
        color: var(--white-color);
        font-size: 1.4rem;
    }
    
    .footer__subscribe-logup-item i {
        font-size: 1.4rem;
    }
    
    .footer__subscribe-logup-btn:hover {
        color: var(--text-color);
        background: var(--white-color);
        cursor: pointer;
    }
    
    .footer__subscribe-logup-btn {
        width: 100%;
        border: none;
        outline: none;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 14px 42px;
        transition: 0.3s;
    }
    
    .footer__our-insta-excerpt {
        margin-bottom: 25px;
        font-size: 1.4rem;
        color: var(--footer-color);
    }
    
    .footer__our-insta-grid {
        margin-left: -3px;
        margin-right: -3px;
    }
    
    .footer__our-insta-link {
        display: block;
        flex-basis: 20%;
        padding: 3px;
    }
    
    .footer__our-insta-img {
        overflow: hidden;
    }
    
    .footer__our-insta-link:hover .footer__our-insta-img>img {
        transform: scale(1.02);
    }
    
    .footer__our-insta-img img {
        display: block;
        width: 100%;
        transition: transform linear 0.3s;
    }
    
    .footer__bottom {
        padding: 12px 40px;
    }
    
    .footer__bottom-sentence {
        text-align: center;
        font-size: 1.3rem;
        line-height: 2.4rem;
        padding: 10px 0;
        color: var(--footer-color);
    }
    
    .footer__bottom-sentence-link:hover {
        color: var(--primary-color);
    }
    
    .footer__bottom-sentence-link {
        text-decoration: none;
        color: var(--white-color);
        transition: 0.3s;
    }
    /* back home */
    
    .back-home:hover {
        color: var(--white-color);
        background: var(--primary-color);
    }
    
    .back-home {
        position: fixed;
        background-color: var(--white-color);
        color: var(--primary-color);
        bottom: 16px;
        right: 20px;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 22px 17px;
        border-radius: 50%;
        text-decoration: none;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, .14);
        transition: .4s;
    }